.titulo{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1px;
    border-radius: 12px;
    background-color: darkslategrey;
    box-shadow: 2px 2px black;
    color: white;
}.titulo1{
    display: flex;
    justify-content: center;
     margin-left: 25%;
    color: white;
     margin-right: 25%;
    padding: 1px;
    border-radius: 12px;
    background-color: darkslategrey;
    box-shadow: 2px 2px black;
}
 hr{
     padding: 4px;
 }
 .infos{
     background-color: gray;
     color: white;
     padding: 10px;
     margin-right: 15%;
     margin-left: 15%;
     border-radius: 12px;
     box-shadow: 2px 2px 2px 2px black;

 }
.imgs{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    margin-left: 1%;
}
.img1{
    border-radius: 8px;
    padding: 2px;
    width: 400px;
    height: 350px;
}.img2{
    border-radius: 8px;
     padding: 2px;
    width: 500px;
    height: 350px;
}.img3{
    border-radius: 8px;
      padding: 2px;
    width: 500px;
    height: 350px;
}.img4{
    border-radius: 8px;
       padding: 2px;
    width: 500px;
    height: 350px;
}
.eu1{
    border-radius: 8px;
    padding: 2px;
    width: 350px;
    height: 500px;
}
.eu2{
    border-radius: 8px;
    width: 350px;
    padding: 2px;
    height: 500px;
}
.eu3{
    border-radius: 8px;
    padding: 2px;
    width: 350px;
    height: 500px;
}
