.fundo1{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.fundo2{
    background-image: url("fundo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.fundo3{
    background-color: wheat;
    z-index: -1;
}
ul {
    margin: 2%;
    display: inline-block;
    width: 96%;
    list-style-type: none;
    padding: 1px;
    text-align: center;
    overflow: visible;
    background-color: #0c63e4;
    border-radius: 5px;
}
.ul2{
    background-color: red;
}
.ul3{
    background-color: darkslategrey;
    box-shadow: 2px 2px black;
    padding: 1px;
}
.item {
    display: inline;
    float: left;
    width: 120px;
    height: 50px;
    border-right:1px solid #bbb;
    border-radius: 5px;
}
.item a:hover {
    background-color: white;
}
.item3 {
    display: inline;
    float: left;
    width: 120px;
    height: 50px;
    border-right:1px solid #bbb;
    border-radius: 5px;
}
.item2 {
    display: inline;
    float: left;
    width: 120px;
    height: 50px;
    border-right:1px solid #bbb;
    border-radius: 5px;
}
.item3 a:hover {
    background-color: white;
}
.item2 a:hover {
    background-color: white;
}
li:last-child {
    border-radius: 5px;
    margin-right: 0;
    border-right: none;
}
li a {
    text-shadow: 5px 5px 10px black;
    border-radius: 5px;
    display: block;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
.active:hover {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}
/* Dropdown Button */
.dropbtn {
    text-shadow: 5px 5px 10px black;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    text-shadow: 5px 5px 10px black;
    background-color: white;
    color: blue;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: darkslategrey;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}
.a3{
    width: 160px;
    text-shadow: 5px 5px 10px black;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.a2{
    width: 160px;
    text-shadow: 5px 5px 10px black;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    width: 140px;
    text-shadow: 5px 5px 10px black;
    color: blue;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
