.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    width: 140px;
    height: 60px;
    border: none;
    cursor: crosshair;
    border-right: 1px solid black;
}

.dropdown {
    display: inline-block;
    height: 60px;
    border-right: 1px solid black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-left: 3px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}